* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after {
	box-sizing: inherit; 
}

html {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

body {
	display: block;
	min-height: 100dvh;
	margin: 0;
}

.hamburger-menu {
	display: none;
}

.logo {
	width: 154px;
	margin: 2px 10px;
	border-radius: 4px;
}

.logo-small {
	display: none;
}

.logo:hover {
	filter: brightness(87%);
}

header {
	background-color: white;
	vertical-align: top;
	position: sticky; /* Apply the sticky positioning */
	top: 0; /* Stick the element to the top of the viewport */
	z-index: 100;
	border-bottom: 0.008rem solid lightgrey;
}

.container {
	display: flex;
	width: 100%;
	justify-content: center;
}

/*Left navbar items*/
.navbar-items-left {
	display: flex;
	width: 190px;
	margin-left: 10px;
	margin-right: 24px;
}

.navbar-items-left a {
	font-size: 13px;
	margin: auto 14px;
	color: hsl(210,8%,42%);
}

/*Search Box*/
.searchbox {
	display: flex;
	align-items: center;
	width: 100%;
	margin-left: 20px;
	margin-right: 6px;
	height: 33px;
	border-radius: 6px;
	border: 1px solid lightgrey;
	padding: 4px;
}

.search-icon {
	padding: 3px;
}

.searchbox input {
	color: hsl(210,8%,25%);
	width: 100%;
	border: none;
	padding: 3px;
}

.top-line {
	height: 3px;
	width: 100%;
	border-width: 0;
	background-color: #ff7700;
	position: sticky;
 	top: 0;
	overflow: hidden;
}

.primary-nav {
	display: flex;
	align-items: center;
	width: 1280px;
	margin: 0 calc(vw - 1280px);
}

.nav-links {

	display: flex;
	list-style: none;
	margin: 0;
	margin-right: 5px;
	padding: 0;
}

.nav-links a {
	text-decoration: none;
	padding: 7px 0;
	font-size: 13px;
	width: 4rem;
	text-align: center;
	align-self: center;
	margin-left: 4px;
}

.nav-links a:first-child {
	margin-left: 2px;
}

.login-link {
	color: rgb(27 117 208);
}

.signup-link {
	color: white;
}

.login-btn {
	border: 1px solid rgb(27 117 208);
	border-radius: 6px;
	font-size: 13px;
	padding: 7px 10px;
}

.signup-btn {
	border: 1px solid rgb(27 117 208);
	background-color: rgb(27 117 208);
	border-radius: 6px;
	font-size: 13px;
	padding: 7px 10px;
	margin: 8px;
}

.login-btn:hover {
	background-color: lightblue;
}

.signup-btn:hover {
	background-color: darkblue;
}

.content {
	flex: 1;
	display: flex;
	padding: 0 calc((100vw - 1280px)/2);
}

.sidenav {
	font-size: 13px;
	width: 164px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 91vh;
	position: sticky;
	top: 50px;
	border-right: 0.008rem solid lightgrey;
	padding-left: 10px;
	padding-bottom: 20px;
}

.sidenav p {
	padding: 7px 0;
	align-items: center;
}

.sidenav p a {
	text-decoration: none;
	color: hsl(210,8%,25%);
}

.sidenav p:first-child {
	margin-top: 23px;
}

.sidenav p:nth-child(4) {
	background-color: hsl(210,8%,95%);
	padding-right: 0;
	margin-left: -11px;
	padding-left: 11px;
	border-radius: 5px;
}

.sidenav p:nth-child(4), .sidenav p:nth-child(6), .sidenav p:nth-child(9) {
	margin-top: 25px;
}

.sidenav p a i {
	padding-right: 8px;
}

.spacing {
       padding-right: 80px;
}

.collectives-span {
	margin: auto 17px;
}

.overflow-ai-small {
	width: 130px;
}

main {
	display: flex;
	max-width: 1300px;
	flex-direction: column;
	flex: 5;
	overflow-y: auto;
	padding: 25px;
	margin-right: 0;
}

.top-section {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.top-left {
	width: 900px;
}

/* Profile Section */
.profile-sec-1 {
	display: flex;
	flex-direction: row;
}

.profile-picture {
	width: 128px;
	border-radius: 7px;
	margin-right: 14px;
	margin-bottom: 14px;
}

.bio-section {
	padding: 5px;
}

.bio-section > * {
	padding-top: 2px;
}

.bio-section p {
	color: hsl(211.76deg 7.91% 42.16% / 90%);
}

.bio-section p i {
	color: hsl(210,8%,68%);
}

.username {
	font-size: 34px;
	font-weight: normal;
	margin-top: 7px;
	margin-bottom: 12px;
}

.about-info {
	font-size: 13px;
	color: hsl(211.76deg 7.91% 42.16% / 90%);
	margin-top: 10px;
}

.about-icon {
	font-size: 15px;
	margin-right: 5px;
	margin-left: 2px;
}

.about-icon:

.top-right {
	margin-left: auto;
}

.collectives-section-inside {
	padding: 10px;
}

.collective-item {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.collective-details {
	padding: 4px 5px;
}

.community-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.comm-subtitle {
	font-size: 13px;
	margin-right: 8px;
}

.community-section {
	display: flex;
	flex-direction: column;
}

.community-section-inside {
	padding: 12px 8px;
}

.community-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.community-item img {
	width: 23px;
	margin: 3px;
}

.community-item a, .community-item p {
	font-size: 13px;
}

.community-item a {
	text-decoration: none;
	color: hsl(210,77%,36%);
}

.community-item p {
	margin-left: auto;
	margin-right: 10px;
	color: hsl(210,8%,42%)
}

.bottom-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.bottom-left {
	min-width: 245px;
	margin-right: 24px;
}

.bottom-left > * {
	margin-bottom: 18px;
}

.section-heading {
	font-size: 21px;
	font-weight: normal;
	margin-bottom: 9px;
}

.stats-section-large {
	display: none;
}

.stats-section-inside {
	padding: 10px;
}

.rounded-section {
	border: 0.05rem solid #ccc;
	border-radius: 5px;
}

.profile-btn {
	color: white;
	background-color: rgb(231 112 13);
	border-radius: 16px;
	width: 60px;
	height: 30px;
	border: none;
}

.activity-btn {
	border-radius: 16px;
	width: 60px;
	height: 30px;
	border: none;
	background: none;
}

.profile-btn:hover {
	background-color: rgb(162 78 9);
	cursor: pointer;
}

.activity-btn:hover {
	background-color: rgb(227 230 232);
	cursor: pointer;
}

.side-btn {
	text-align: center;
	font-size: 11px;
	display: block;
	padding: 7px;
	border: 1px solid transparent;
	border-radius: 7px;
	margin-top: 5px;
	margin-right: 12px;
}

.orange-btn {
	background-color: hsl(27.25deg 89.34% 47.84%);
	color: white;
}

.side-btn:hover {
	border: 1px solid hsl(212.73deg 8.66% 75.1%);
	cursor: pointer;
}

.orange-btn:hover {
	border: 1px solid transparent;
	background-color: hsl(26.7deg 86.67% 41.18%);
}

.profile-toggle {
	font-size: 12px;
	width: 80px;
	height: 40px;
	border: 1px solid hsl(0deg 0% 79.53%);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.bottom-font {
	font-size: 13px;
	color: #666;
}

.stat-row {
	display: flex;
	margin-bottom: 15px;
}

.stat-row:last-child {
	margin-bottom: 0;
}

.stat-row div {
	width: 50%;
}

.trophy-img {
	width: 18px;
}

.bottom-right > * {
	margin-bottom: 18px;
}

.about-section {
	color: hsl(210,8%,25%);
	line-height: 25px;
}

.about-section p {
	font-size: 15px;
}

.about-section ul li {
	margin-left: 38px;
}

.about-section ul ul li {
	margin-left: 70px;
}

.about-section ul ul li img {
	float: left;
}

.about-link {
	color: #1b75d0;
}

.about-section ul li a:visited, .about-section ul ul li a:visited {
	color: #1b75d0;
}

.about-bold {
	font-weight: bold;
}

.badges-heading {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0 10px;
}

.badges-heading p {
	font-size: 13px;
}

.badges-content {
	display: flex;
	flex-direction: row;
}

.badges-content-left {
	display: flex;
	flex-direction: row;
	width: 66%;
	margin-right: 22px;
}

.badges-content-right {
	display: flex;
	flex-direction: row;
	width: 30%;
}

.badge-item {
	padding: 10px;
	margin-right: 22px;
	width: 75%;
}

.badge-item:last-child {
	width: 105%;
	margin-right: 0;
}

.badge-item-header {
	display: flex;
}

.badge-container p:first-child {
	font-size: 21px;
	font-weight: bold;
}

.badge-container p {
	font-size: 12px;
	margin: auto 8px;
}

.badge-item-row {
	margin: 8px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.badge-item-row a {
	font-size: 11px;
	padding: 4px 8px;
	border: 1px solid hsl(210,8%,90%);
	border-radius: 5px;
	background-color: #efefef;
}

.badge-item-row p {
	font-size: 11px;
}

.top-tags-heading {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0 10px;
}

.top-tags-heading p {
	font-size: 13px;
}

.top-tags-item {
	display: flex;
	justify-content: space-between;
	padding: 4px;
	border-bottom: 1px solid #80808059;
}

.top-tags-item:last-child {
	border-bottom: none;
}

.top-tags-item-left {
	display: flex;
	align-items: center;
}

.top-tags-item-right {
	display: flex;
	align-items: center;
}

.top-tags-item-left a {
	text-decoration: none;
	font-size: 12px;
	color: hsl(210,8%,25%);
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	font-weight: bold;
	background-color: hsl(210,8%,95%);
}

.top-tags-item-left a:hover {
	background-color: hsl(210,8%,90%);
	cursor: pointer;
}

.tag-count {
	font-size: 17px;
	margin-right: 5px;
}

.tag-label {
	font-size: 13px;
	margin-right: 10px;
	color: hsl(210,8%,42%);
}

.top-posts-heading {
	display: flex;
	padding-bottom: 10px;
}

.top-posts-heading-left p {
	font-size: 13px;
	color: hsl(210,8%,42%);
}

.top-posts-heading-left p a {
	color: hsl(210,77%,46%);
}

.top-posts-heading-right {
	padding: 20px 0 0 0;
	margin-left: auto;
}

.top-posts-heading-right, .top-posts-heading-right div {
	font-size: 11px;
	display: flex;
}

.top-posts-heading-right div {
	align-items: center;
}

.top-posts-filter , .top-posts-sort {
	border: 1px solid rgb(186, 191, 197);
	border-radius: 5px;
	margin-left: 8px;
}

.top-posts-filter div , .top-posts-sort div {
	padding: 4px 8px;
	margin: 0 3px;
}

.top-posts-filter div:first-child , .top-posts-sort div:first-child {
	background-color: hsl(210,8%,90%);
	border-radius: 5px;
}

.top-posts-item {
	display: flex;
	justify-content: space-between;
	padding: 10px 9px;
	border-bottom: 1px solid #80808059;
}

.top-posts-item:last-child {
	border-bottom: none;
}

.top-posts-item-left {
	display: flex;
	align-items: center;
}

.top-posts-item-left a {
	font-size: 15px;
	text-decoration: none;
	color: hsl(210,77%,46%);
}

.top-posts-item-left p {
	color: white;
	background-color: hsl(148,70%,31%);
	font-size: 12px;
	padding: 5px;
	border-radius: 5px;
	margin: 0 8px;
}

.top-posts-item-right {
	font-size: 13px;
	color: hsl(210,8%,42%);
	display: flex;
	align-items: center;
}

.top-meta-posts-heading {
	display: flex;
	justify-content: space-between;
}

.top-meta-posts-heading p {
	font-size: 13px;
}

.top-meta-posts-heading-right {
	display: flex;
	color: hsl(210,8%,42%);
}

.top-meta-posts-heading-right img {
	width: 23px;
	height: 23px;
	margin: auto 1px;
}

.top-meta-posts-heading-right p {
	margin: 9px 1px;
}

.top-meta-posts-item {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	border-bottom: 1px solid #80808059;
}

.top-meta-posts-item:last-child {
	border-bottom: none;
}

.top-meta-posts-item-left {
	display: flex;
	align-items: center;
}

.top-meta-posts-item-left a {
	font-size: 15px;
	text-decoration: none;
	color: hsl(210,77%,46%);
}

.top-meta-posts-item-left p {
	color: hsl(210,8%,25%);
	font-size: 12px;
	padding: 3px 6px;
	border: 1px solid hsl(210,8%,80%);
	border-radius: 5px;
	margin: 6px 8px;
}

.top-meta-posts-item-right {
	display: flex;
	align-items: center;
}

.top-nw-posts-heading {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.top-nw-posts-heading p {
	font-size: 13px;
}

.top-nw-posts-heading p {
	color: hsl(210,8%,42%);
}

.top-nw-posts-item {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	border-bottom: 1px solid #80808059;
}

.top-nw-posts-item:last-child {
	border-bottom: none;
}

.top-nw-posts-item-left {
	display: flex;
	align-items: center;
}

.top-nw-posts-item-left a {
	font-size: 15px;
	text-decoration: none;
	color: hsl(210,77%,46%);
}

.top-nw-posts-item-left p {
	color: hsl(210,8%,25%);
	font-size: 12px;
	padding: 3px 6px;
	border: 1px solid hsl(210,8%,80%);
	border-radius: 5px;
	margin: 6px 8px;
}

.top-nw-posts-item-right {
	display: flex;
	align-items: center;
}

footer {
	background-color: hsl(210, 8%, 5%);
	padding: 1.5% 1%;
	color: hsl(210,9%,75%);
}

.footer-main {
	display: flex;
	justify-content: space-between;
	max-width: 1280px;
	margin: 0 calc(vw - 1280px);
}

.footer-main-main {
	display: flex;
}

.footer-main-sub  {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.footer-sub {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 15px;
	width: 270px;
}

.footer-sub div a {
	font-size: 11px;
	margin: 3px;
}

.footer-logo {
	width: 50px;
}

.footer-item {
	line-height: 1.85;
	padding: 0 1vw;
	margin: 0 1vw;
}

.footer-item-content {
	display: flex;
	flex-direction: column;
}


.footer-item-content > * {
	margin-right: 9px;
}

.footer-item-content ul {
	list-style-type: none;
}

.footer-item-content ul li a {
	text-decoration: none;
	color: inherit;
}

.footer-item p a {
	text-decoration: none;
	color: hsl(210,8%,80%);
}

.footer-heading {
	font-weight: bold;
	font-size: 13px;
}

.footer-text {
	font-size: 13px;
}

.footer-end {
	font-size: 11px;
}

.footer-end a {
	color: hsl(210,8%,80%);
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.h4 {
	font-size: 15px;
	font-weight: normal;
}

.h5 {
	font-size: 12px;
 	font-weight: normal;
	color: hsl(210,8%,25%);
}

.recognised-badge-icon {
	width: 14px;
	height: 13px;
	align-self: center;
	margin-left: 3px;
}

.dot {
	font-size: 6px;
	margin-right: 3px;
}

.gold {
	color: rgb(255 203 85);
}

.silver {
	color: hsl(210deg 8% 25% / 47%);
}

.bronze {
	color: hsl(20deg 81.25% 38.66% / 55%);
}

.violet-circle {
	color: white;
	background-color: hsl(237,55%,57%);
	padding: 4px;
	padding-left: 6px;
	margin-left: -10px;
	border: 3px solid hsl(237,78%,93%);
	border-radius: 20px;
	width: 31px;
}


/*Responsive design*/
/*Badges section*/
@media (max-width: 831px) or ((min-width: 980px) and (max-width: 1108px)) {
	.badges-content {
		flex-direction: column;
	}

	.badges-content-left {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-right: 22px;
	}

	.badges-content-right {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-top: 22px;
	}

	.badge-item {
		padding: 10px;
		margin-right: 22px;
	}

	.badge-content-right {
		margin-right: 0;
	}
}
@media (max-width: 448px) {
	.badges-content {
		flex-direction: column;
	}

	.badges-content-left {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-right: 0;
	}

	.badge-item {
		padding: 10px;
		width: 100%;
	}

	.badge-item:first-child {
		margin-bottom: 20px;
	}

	.badge-item:last-child {
		margin-right: 0;
		width: 100%;
	}
}

/*Top Posts Section*/
@media (max-width: 600px) or ((min-width: 640px) and (max-width: 795px)) or ((min-width: 980px) and (max-width: 1064px)) {
	.top-posts-heading {
		flex-direction: column;
	}

	.top-posts-heading-right {
		padding-top: 10px;
		margin-left: 0;
	}

	.top-posts-heading-right > * {
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.top-posts-filter {
		margin-left: 0;
	}
}

@media (max-width: 640px) {
	.top-posts-heading-left p {
		font-size: 11px;
	}
}

/*Other sections*/
@media (max-width: 980px) {

	.navbar-items-left {
		width: 20px;
		justify-content: center;
		margin: 0 17px 0 25px;
	}

	.navbar-items-left a:first-child, .navbar-items-left a:last-child {
		display: none;
	}

	.profile-sec-1 {
		flex-direction: column;
	}

	.profile-picture {
		width: 100px;
	}

	.bio-section {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.username {
		padding-top: 0;
		margin-top: 0;
	}

	.bottom-section {
		flex-direction: column-reverse;
	}

	.stats-section-large {
		display: grid;
	}

	.stats-section-small {
		display: none;
	}

	.stats-section-inside, .stat-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 15px;
	}

	.flex-column {
		flex-direction: column;
		justify-content: center;
	}

	.stat-row {
		width: 19%;
		margin-top: 5px;
	}

	.trophy-img {
		width: 15px;
		height: 15px;
	}


	.bottom-left {
		margin-right: 0;
	}

	.community-section-inside {
		padding-right: calc(100vw - 450px);
	}

	.footer-main {
		flex-direction: column;
		padding: 10px;
	}

	.footer-main-sub  {
		flex-direction: column;
		margin-top: 10px;
	}

	.footer-item {
		display: flex;
		flex-direction: column;
		margin-bottom: 13px;
		margin-left: 0;
	}

	.footer-item-content ul > li {
		display: inline-block;
		margin-right: 7px;
	}

	.footer-item-content ul {
		margin-top: -3px;
	}

	.footer-sub {
		width: 100%;
	}

	.footer-sub > * {
		margin-bottom: 8px;
	}
}

@media (max-width: 792px) {
	.footer-main-main {
		flex-direction: column;
	}
}

@media (max-width: 640px) {
	.sidenav {
		display: none;
	}
}

@media (max-width: 640px) {
	.hamburger-menu {
		display: grid;
		margin-left: 7px;
		margin-right: 7px;
	}

	.logo {
		display: none;
	}

	.logo-small {
		display: grid;
	}

	.navbar-items-left a {
		font-size: 11px;
	}

	.searchbox {
		border: none;
		width: 26px;
		margin-left: auto;
	}

	#searchbox {
		display: none;
	}

	.profile-picture {
		width: 64px;
	}
	
	.username {
		font-size: 25px;
	}

	.about-info {
		font-size: 11px;
	}

	.stat-row:last-child {
		display: none;
	}

	.footer-text {
		font-size: 11px;
	}
}

@media (max-width: 390px) {
	
	.top-posts-heading-right {
		max-width: 100vw;
	}

	.top-posts-filter {
		width: 60%;
	}
}